body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1a2639;
    color: #FFFFFF;
}

/* Header */

#icono-header{
    font-size: 25px;
    margin: 0 10px;
    color:#c24d2c;
}

#barra{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#barra-lista{
    list-style: none;
}

#barra-lista li{
    display: inline;
    margin: 5px;
    font-weight: 600;
}

#barra-list li,a{
    text-decoration: none;
    color: #c24d2c;
}

a{
    transition: 0.3s;
}

a:hover{
    color: white;
}

/* Body */

.presentacion{
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #151e2e; /*En caso que el fondo no carge*/
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.presentacion h1{
    font-size: 40px;
}

.presentacion h2{
    font-size: 20px;
    color: #c24d2c;
}

.presentacion h2,.presentacion h1{
    margin: 0;
}

#selfieJason{
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

#selfieJason, .informacion{
    border: 2px solid #c24d2c;
}

/* Body Descripcion */

#perfil{
    max-width: 300px;
    padding: 40px;
}

.sobre-mi h2{color: #c24d2c;}

.descripcion{
    padding:15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcion-contenedor{
    max-width: 500px;
}

/* Footer */

footer{
    text-align: center;
    background-color: #151e2e;
}