body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1a2639;
    color: #FFFFFF;
}

/* Header */

#icono-header{
    font-size: 25px;
    margin: 0 10px;
    color:#c24d2c;
}

#barra{
    padding: 0 20px;
    width: 97%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#barra-lista{
    list-style: none;
}

#barra-lista li{
    display: inline;
    margin: 5px;
    font-weight: 600;
}

#barra-list li,a{
    text-decoration: none;
    color: #c24d2c;
}

a{
    transition: 0.3s;
}

a:hover{
    color: white;
}

/* Body */

.presentacion{
    height: 90vh;
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #151e2e; /*En caso que el fondo no carge*/
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.presentacion h1{
    font-size: 40px;
}

.presentacion h2{
    font-size: 20px;
    color: #c24d2c;
}

.presentacion h2,.presentacion h1{
    margin: 0;
}

#selfieJason{
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

#selfieJason, .contenedor-grid{
    border: 2px solid #c24d2c;
}

/* Body Descripcion */

#perfil{
    max-width: 300px;
    padding: 40px;
}

.sobre-mi h2, #h2-habilidades{
    color: #c24d2c;}

.descripcion{
    height: 80vh;
    padding:15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcion-contenedor{
    max-width: 500px;
}

.contenedor-grid{
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item{
    margin: 5px;
    font-size: 15px;
}

/* Proyectos */

#contenedor-habilidades h2{
    font-size: 30px;
}

#contenedor-habilidades{
    background-color: #202e46;
    height: 90vh;
    padding: 10px 20%;
}

#habilidades{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
    gap: 20px 100px;
    text-align: center;
}

.habilidades-item{
    color: #FFFFFF;
    filter: grayscale(100%);
    transition: 0.2s;
}

.icon{
    width: 100px;
    height: 100px;
}

#sql, #php{
    width: 130px;
    height: 100px;
}

.habilidades-item:hover{
    filter: grayscale(0%);
    color: #c24d2c;
}

/* Footer */

footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151e2e;
}